{% load static %}

<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
    <div class="w-100">
        <h2 class="mb-0">
            {{ resume.lastname }}
            <span class="text-primary">{{ resume.firstname }}</span>
            {{ resume.patronomic }}
        </h2>
        {% if resume.position %}
        <div class="subheading mb-2" style="font-size:35px;">
            {{ resume.position }}
        </div>
        {% endif %}
        <div class="mb-5">
            {{ resume.birthday }} <!--({{ resume.age }})--> ·
            {% if resume.position %}
                {{ resume.address }} ·
            {% endif %}
            &nbsp;{{ resume.phone }}&nbsp;·
            <a href="mailto:{{ resume.email }}">{{ resume.email }}</a>
        </div>
        {% if resume.about %}
            <p class="lead mb-5">
                {{ resume.about }}
            </p>
        {% endif %}

        {% if more_contacts %}
            <div class="social-icons">
            {% for contact in more_contacts%}
                <a href="{{ contact.link }}" target="_blank">
                    <i class="{{ contact.icon_class }}" title="{{ contact.title }}">{{ contact.i_text }}</i>
                </a>
            {% endfor %}
            </div>
        {% endif %}

    </div>
</section>

<hr class="m-0">