{% extends 'layout/base.html' %}

{% block title %}
    Резюме {{ resume.lastname }} {{ resume.firstname }}
{% endblock %}

{% block content %}
    {% if resume %}
        {% include 'resume/navbar.html' %}
        {% include 'resume/about.html' %}
        {% include 'resume/experience.html' %}
        {% include 'resume/education.html' %}
        {% include 'resume/skills.html' %}
        {% include 'resume/interests.html' %}
        {% include 'resume/awards.html' %}
    {% else %}
        <section class="resume-section p-3 p-lg-5 d-flex align-items-center">
            <h2>Заполните и активируйте резюме</h2>
        </section>
    {% endif %}
{% endblock %}