{% load static %}

<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
    <div class="w-100">
        <h2 class="mb-3">Навыки</h2>

        {% if skills %}
            {% for skill in skills %}
                <ul class="fa-ul mb-0">
                    <li>
                        <i class="fa-li fa fa-check"></i>
                        {{ skill.description }}
                    </li>
                </ul>
            {% endfor %}
        {% endif %}

        {% if skills_icon %}
            <ul class="list-inline dev-icons mt-3">
            {% for icon in skills_icon %}
                <li class="list-inline-item">
                    <i class="{{ icon.icon_class }}" title="{{ icon.title}}"></i>
                </li>
            {% endfor %}
            </ul>
        {% endif %}

    </div>
</section>

<hr class="m-0">